{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Belarus offers much more to travellers than you could ever fit into a single visit.
            The culture, outdoor activities, cuisine and historical sites will keep even the most experienced traveller busy. </p>
        <a href="https://www.belarus.by/en/travel"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}